asgiref==3.8.1
crispy-bootstrap5==2024.2
dj-database-url==2.3.0
Django==5.1.1
django-bootstrap5==24.2
django-crispy-forms==2.3
mysqlclient==2.2.4
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
xhtml2pdf==0.0.6
